<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #feffaa;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <img
      class="img-profile rounded-circle" src="/images/img/ILSP-removebg-preview.png"style="width: 30%; margin-left: -10px"/>
    <div class="sidebar-brand-text mx-3" style="color: black;">ILSP | Students</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0 " style="color: black;">
    
       
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/studentindex">
            <i class="fas fa-fw fa-tachometer-alt" style="color: black;"></i>
            <span style="color: black;">Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" style="color: black;">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <%if (status == 'UnVerified') {%>
    <li class="nav-item active">
        <a class="nav-link" href="/finishapplication">
            <i class="fas fa-fw fa-cog" style="color: black;"></i>
            <span style="color: black;">Finish Your Application</span></a>
    </li>
    <%}%>

     <!-- Nav Item - Charts -->
     <li class="nav-item sidebar-item">
        <a class="nav-link" href="/studentprofile">
            <i class="far fa-address-card" style="color: black;"></i>
            <span>My Profile</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider" style="color: black;">

    <!-- Heading -->
    <div class="sidebar-heading" style="color: black;">
        Addons
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item sidebar-item">
        <a class="nav-link" href="/announcements">
            <i class="fas fa-fw fa-chart-area" style="color: black;"></i>
            <span>Announcements</span></a>
    </li>

    <%if (status == 'Verified') {%>
     <!-- Nav Item - Tables -->
     <li class="nav-item sidebar-item">
        <a class="nav-link" href="/testpermit">
            <i class="fas fa-fw fa-table" style="color: black;"></i>
            <span>Test Permit</span></a>
    </li>
    <%}%>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>