<head>
    <%- include("./components/adminloginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/adminlogin/adminlogin.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/adminlogin/adminloginscript.ejs")%>
</body>

</html>