<head>
    <%- include("./components/createuserheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/createuser/createuser.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/createuser/createuserscript.ejs")%>
</body>

</html>