<head>
    <%- include("./components/loginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/forgotpassword/forgotpassword.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/forgotpassword/forgotpasswordscript.ejs")%>
</body>

</html>