<head>
    <%- include("./components/loginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/forgotpassword_admin/forgotpassword_admin.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/forgotpassword_admin/forgotpassword_adminscript.ejs")%>
</body>

</html>