<head>
    <%- include("./components/loginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/login/login.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/login/loginscript.ejs")%>
</body>

</html>