<head>
    <%- include("./components/loginheader.ejs")%>
</head>

<body>

    <!-- Begin Page Content -->
    <%- include("./page/resetpassword_admin/resetpassword_admin.ejs")%>
        <!-- /.container-fluid -->
    <%- include("./components/scripts.ejs")%>
    <%- include("./page/resetpassword_admin/resetpassword_adminscript.ejs")%>
</body>

</html>