
#content-wrapper {
  background-color: white !important;
}

.content {
  margin-top: 75px;
}

.fa-bars {
  color: white !important;
}

.fa-bars:hover {
  background: transparent;
}

/* .top-round-button {
    z-index: 1001;
    background-color: #7F8487 !important;
} */

.navbar {
  background-color: #8b2525 !important;
  position: fixed !important;
  margin-left: 6.4rem;
  width: 75%;
  z-index: 2;
}

.searchbar-eportal {
  border: 2px solid #fef8ea !important;
}

.searchbar-bg {
  background: linear-gradient(180deg, #8b2525, rgb(173, 7, 7)) !important;
}

.btn-search-eportal {
  background-color: #E41717 !important;
  border: 2.5px solid #fef8ea  !important;
  color: white !important;
}


.dropdown-eportal {
    background-color: #7a1818 !important;
    color: white !important;
    border:  2px solid #7a1818 !important;
}

.profilename-eportal {
    color: white !important;
    font-weight: bold;
    font-size: 13px;
}

.navbar-expand .navbar-nav  .dropdown-profile-eportal {
    background-color: #feffaa !important;
}

/*wendell*/
#previewleave {
  margin-top: 100px;
  width: 250px;
  height: 250px;
}


/* .dropd-eportal {
  color: white !important;
  font-weight: bold !important;
}

.dropd-eportal:hover {
  background-color: #7a1818 !important;
  transform: scale(1.1);
  box-shadow: 0 0 8px white !important;
} */


/* sidebar toggled
@media only screen and (max-width: 600px) {
   
  .content-toggled {
    margin-left: 0px !important;
  }

  .topbar-toggled  {
    margin-left: 6.5rem !important;
    width: 100%;
    padding-right: 110px !important;
  }

  .footer-toggled{
    margin-left: 6.5rem !important;
  }

  #topbar {
    padding-right: 230px;
    margin-left: 14rem;
  }


  .sidebar{
    min-height: 100vh;
    overflow-y: auto !important;
    max-height: 100vh;
    overflow-x: hidden !important;
  }

  ::-webkit-scrollbar {
    width: 5px; 
  }
} */

:root{
  --minus-15rem: calc(100% - 15rem);
  --minus-6rem: calc(100% - 8rem);
}


/*default*/
@media (min-width: 768px) {

  .content {
    margin-left: 235px;
    margin-right: 10px;
  }

  /* .content-toggled {
    margin-left: 6.5rem !important;
  }

  .topbar-toggled {
    margin-left: 6.5rem !important;
    width: var(--minus-6rem);
    padding-right: 110px !important;
  }

  .footer-toggled{
    margin-left: 6.5rem !important;
  } */

  /* #topbar {
    margin-left: 14rem;
    padding-right: 220px;
  } */

  .table th {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }


  .navbar {
    margin-left: 14.5rem;
    width: var(--minus-15rem);
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 13px;
    box-shadow: 0 4px 8px #3b3939 !important;
  }

  .img-hrmis img {
    width: 50%;
    padding-top: 12px !important;
    margin-left: -30px;
  }

  h6.eportal-text {
    float: right;
    padding-top: 35px;
    margin-right: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
  }

}

/*mobile-view/sidebar*/
@media (max-width: 769px) {

  /*wendell*/
  #previewleave {
    height: 150px;
    width: 150px;
  }


  .table td {
    padding: 1rem !important;
  }

  .table th {
    width: 100%;
  }

  .content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-sm-8,
  .col-4,
  .col-md-4 {
    width: 100% !important;
    margin-bottom: 5%;
  }

  .content-toggled {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .footer-toggled {
    margin-left: 0px !important;
  }

  .navbar {
    width: 75%;
    position: absolute !important;
  }

  .navbar-toggled {
    margin-left: 0px !important;
    width: 100%;
  }


  #card-announcement,
  #card-birthday,
  #card-attendance {
    margin-top: 5% !important;
  }

  #card-map {
    margin-bottom: 5%;
  }

  #myInput {
    width: 35%;
  }

  .btn-clockin {
    width: 45% !important;
    float: none;
    margin: auto !important;
  }

  .btn-clockout {
    width: 45% !important;
    float: none;
    margin: auto !important;
  }

  #map {
    width: 100%;
  }

  .deduction-card {
    margin: auto !important;
  }

  .row .g-4 {
    margin: 0%;
  }

  .col-xl-8.col-lg-7 {
    margin-left: 0 !important;
  }
  
  .modal-body .row {
    flex-direction: column;
    margin-left: 0 !important;
  }

  .modal-body .col {
    width: 100%;
    margin-top: 15px !important;
  }

}


#accordionSidebar {
  background-color: #7a1818 !important;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 2;
}

.sticky-footer {
  height: 30px !important;
  background-color: #8b2525 !important;
  margin-top: 50px;
  color: white !important;
}

::-webkit-scrollbar {
  width: 2px; 
}

#card-attendance {
    width: 100% ;
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-color: white !important;
    /* border: 1px solid #E41717 !important; */
}

#card-announcement, #card-birthday {
    /* border: 2px solid lightsalmon !important; */
    /* border: 1px solid #E41717 !important; */
    box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
    background-color: white !important;
}



.ch-birthday {
  /* background: linear-gradient(45deg, #29A173, #05633f) !important ; */
  color: #7a1818 !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  /* border-bottom: 2px solid #d874d0 !important;
  background: linear-gradient(45deg, rgb(237, 160, 253), white) !important; */
  border-bottom: 2px solid white !important;
  background: white !important;
  text-align: center;
  letter-spacing: 1px;
}

.ch-attendance {
  /* background: linear-gradient(45deg, #FF3232, #FFB774)  !important; */
  color: #7a1818 !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  /* border-bottom: 2px solid #e0d869 !important;
  background: linear-gradient(45deg, rgb(253, 247, 160), white) !important; */
  border-bottom: 2px solid white !important;
  background: white !important;
  text-align: center;
  letter-spacing: 1px;
}

.ch-announcement {
  /* background: linear-gradient(45deg, #aa14cf, #6e218d)  !important; */
  color: #7a1818 !important;
  text-shadow: 2px 2px 4px white !important;
  font-weight: bold;
  /* border-bottom: 2px solid #fabe70 !important;
  background: linear-gradient(45deg, rgb(252, 187, 126), white) !important; */
  border-bottom: 3px solid #7a1818 !important;
  /* background: #7a1818 !important; */
  background-image: url(/images/img/announce1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 1px;
}

.ch-map {
  /* background: #2094a3 !important ; */
  color: white !important;
  text-shadow: 2px 2px 4px #7a1818 !important;
  font-weight: bold;
  /* border-bottom: 2px solid #5bc945 !important;
  background: linear-gradient(45deg, rgb(175, 253, 160), rgb(223, 253, 213)) !important; */
  border-bottom: 2px solid white !important;
  background: #7a1818  !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.cb-map {
  background-color: white !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}



.consultation-icon {
    height: 30px;
    width: 30px;
    top: 3px;
    right: 10px;
}

.db-icon-eportal, .salary-icon-eportal, .cash-icon-eportal, .coop-icon-eportal, .attendance-icon-eportal, .leave-icon-eportal, .disciplinary-icon-eportal {
    width: 25px;
    height: 25px; 
    top: 3px;
}

.eportal-icon {
  width: 25px;
  height: 25px; 
  top: 3px;
  color: #7a1818 !important;
}

.cb-attendance {
   background-color: rgb(212, 250, 237) !important;
}

#table-attendance {
    width: 100%;
    overflow-x: hidden;
}

/* div.dataTables_scrollHead {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} */

/* .span-eportal{
    color: white;
    font-weight: bold;
    margin: 3%;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* .link-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px white !important;
} */

.btn-clockin {
    background-color: green !important;
    color: white !important;
    /* margin: auto; */
    margin-top: 30px !important;
    margin-left: 20px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    float: left;
    border-radius: 5px !important;
    border: 2px solid rgb(6, 97, 3) !important;
    height: 35px;
    width: 30%;
    font-size: 13px !important;
    font-family: Cambria !important;
}

.btn-clockin:hover {
  transform: scale(1.1);
  font-size: 13px !important;
  width: 35%;
  font-weight: bold;
  background-color: rgb(6, 97, 3) !important;
}

.btn-clockout {
    background-color: red !important;
    color: white !important;
    /* margin: auto; */
    margin-top: 30px !important;
    /* margin-left: 10px; */
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
    border-radius: 5px !important;
    border: 2px solid rgb(185, 10, 10) !important;
    height: 35px;
    width: 30%;
    font-size: 13px !important;
    font-family: Cambria !important;
}

.btn-clockout:hover {
    transform: scale(1.1);
    font-size: 13px !important;
    width: 35%;
    font-weight: bold;
    background-color: rgb(185, 10, 10) !important;
}

#map {
    height: 518px;
    z-index: 1;
    border: 2px solid rgb(210, 208, 208) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-radius: 5px;
    width: 100%;
}

#card-map {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(48, 47, 47) !important;
  background-color: white !important;
}

.container {
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
}


.ch-salary,
.cheader-attendance {
  background-color: #7a1818 !important;
  height: 90px !important;
}

.cheader-attendance,
.ch-cashad,
.ch-requestleave,
.ch-da {
  background-color: #7a1818 !important;
  height: 50% !important;
}

.ch-salary h3, .cheader-attendance h3, .ch-cashad h3, .ch-requestleave h3, .ch-da h3 {
    color: white !important;
    padding: 15px;
    font-family: Times New Roman;
    font-weight: bolder;
}

.cbody-salary, .cbody-attendance, .cbody-cashad, .cbody-requestleave, .cbody-da {
    background-color: #fef8ea;
}

.btn-eportal-color {
  float: right;
  border-radius: 8px;
  width: 100%;
  height: 33px;
  background-color: #30a32a !important;
  border: 2px solid #fef8ea !important;
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
  font-size: 15px !important;
}

.btn-eportal-color:hover {
  background-color: #197214 !important;
  transform: scale(1.1);
}

/* .btn-eportal-color h6 {
    font-weight: bold;
    font-family: 'Times New Roman';
} */

.btn-search-topbar {
  height: 40px;
  width: 40px;
  padding-left: 8px;
  border: 2.5px solid #fef8ea  !important;
  border-radius: 3px;
  background-color: #E41717 !important;
  color: white !important;
}

.btn-search-topbar:hover {
  background-color: #fa0303 !important;
  color: white !important;
}

.db-search-hrmis {
  color: white !important;
}


.db-bell-eportal {
  width: 25px;
  height: 25px;
}

.db-bell-eportal:hover {
  transform: scale(1.3);
}

.db-message-eportal {
  width: 40px;
  height: 40px;
}

.db-message-eportal:hover {
  transform: scale(1.3);
}

#dp-header {
  background-color: #7a1818 !important;
  border: 3px solid #fef8ea !important;
}

.profile-box-db {
  background-color: #7a1818 !important;
  color: white !important;
  font-weight: bold !important;
}

.profile-box-db:hover {
  background-color: #fef8ea !important;
  color: #7a1818 !important;
  font-weight: bold !important;
}

/*-- Topbar Icons ----*/
.user-prof-icon,
.settings-icon,
.log-icon,
.logout-icon {
  width: 15px;
  height: 15px;
}

.sidebar-item span{
  color: white !important;
  padding:8px;
}
.sidebar-item {
  transition: background-color 0.1s ease;
}

.sidebar-item:hover {
  background-color: #fef8ea !important;
  font-weight: bold;
}

.sidebar-item:hover span {
  color: #7a1818 !important;
}

.boxshadow-sidebar {
  background-color: #510A0A !important;
}
.collapse .collapse-item {
  font-weight: 600;
  color: white !important;
}

.collapse .collapse-item:hover {
background-color: white !important;
color: black !important;
}

#modal-header {
  background-color: #7a1818 !important ;
  color: white !important;
  height: 80px;
}

#modal-footer {
  background-color: #7a1818 !important ;
}

.modal-dialog #modal-body {
  background-color: #fef8ea !important;
}

.bx-x {
  color: white !important;
  font-size: 30px;
  margin: 0%;
}
.bx-x:hover {
  border: 2px solid white !important;
  border-radius: 8px;
}

.modal-title {
  font-size: 18px;
  margin: 0%;
}


.eportal-img-announce {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 200px;
  border: 2px solid #7a1818 !important;
}

.db-custom-cards  {
  background-color: #fef8ea !important;
}

.db-custom-cards1 {
  /* background-color: #fef8ea !important; */
  height: 550px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.announce-title {
  margin: 8%;
  color: #7a1818  !important;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-family: 'Arial';
}

.a-des {
  color: black !important;
  font-style: italic;
  margin-top: 3%;
  /* font-weight: bold; */
}

.a-date {
  color: black !important;
  font-weight: bold;
  /* float: right; */
  margin-top: 2%;
}

.announcement-hrmis {
  background-color: white !important;
  height: 300px;
  padding: 15px !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.prev-hrmis, .next-hrmis {
  position: absolute;
  top: 22%;
  color:#7a1818 !important; 
}

#clockin-out {
 background-color: white !important;
 box-shadow: 0 4px 8px 0 rgb(82, 81, 81) !important;
}

#clock-header {
  background-color: #7a1818 !important;
  height: 100px;
}

.time-title {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: white !important;
  /* text-shadow:2px 2px 2px #c4c2c0 !important; */
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}

.time-p {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white !important;
  /* background-color: #7a1818 !important;
  height: 20px;
  border-radius:  5px; */
  font-style: italic;
  padding: 2px;
  margin-bottom: 8%;

}

.time-profile-img {
  margin: auto !important;
  height: 10% !important;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #7a1818 !important;
}

/* 
.ch-time {
  background:linear-gradient(45deg, rgb(169, 241, 253), white) !important;
  border-radius: 8px;
  margin-top: 3%;
  padding: 18px !important;
  box-shadow: 0 4px 8px 0 rgb(82, 81, 81) !important;
}

.status-text {
  font-size: 13px;
  color: black !important;
  font-weight: bold !important;
  float: left;
  letter-spacing: 1px;
}

.status-time {
  font-size: 12px;
  color: white !important;
  padding: 5px;
  font-weight: none;
  text-transform: none;
  background-color: #53c24e !important;
  border-radius: 5px;
}

.time-text {
  font-size: 13px;
  color: black !important;
  font-weight: bold !important;
  float: right;
  letter-spacing: 1px;
}

.time-clock {
  font-size: 12px;
  color: rgb(73, 73, 73) !important;
 text-shadow: 0px 1px 1px rgb(73, 73, 73) !important;
  padding: 2px;
} */

.border-form-modal {
  border: 2.5px solid #7a1818 !important;
} 

#badge-counter {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #e74a3b !important;
  font-size: 13px;
  padding: 2px;
  position: absolute;
  transform: scale(.7);
  transform-origin: top right;
  right: .25rem;
  margin-top: -.25rem;
}

.logout-header {
  background-color: #7a1818 !important;
  color: white !important;
  height: 70px;
  font-family: 'Calibri';
}

.logout-body {
  height: 150px;
  color: black !important;
  font-family: Arial;
  font-size: 15px;
  padding: 10% !important;
  background-color: #fef8ea !important;
}

.btn-out-body {
  background-color: red !important;
  color: white !important;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid lightslategray !important;
}

.btn-modal-close {
  background-color: #E74646 !important;
  color: white !important;
  font-family: 'Arial';
  border: 2px solid #fef8ea !important;
  text-shadow: 1px 1px 1px black !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}
.btn-modal-close:hover {
  background-color: #E72929 !important;
  transform: scale(1.1);
}
.btn-modal-save {
  background-color: #30a32a !important;
  border: 2px solid #fef8ea !important;
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
  font-family: 'Arial';
  font-weight: bold !important;
  letter-spacing: 1px;
}
.btn-modal-save:hover {
  background-color: #197214 !important;
  transform: scale(1.1);
}
.btn-logout-cancel {
  background-color: #FFB72B !important;
  color: white !important;
  border: 2px solid #fef8ea !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 1px black !important;
  letter-spacing: 1px;
}

.btn-logout-cancel:hover {
  background-color: #f68f00 !important;
  font-weight: bold;
  transform: scale(1.1);
}

.btn-logout {
  background-color: #FD5D5D !important;
  color: white !important;
  border: 2px solid #fef8ea !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 1px black !important;
}

.btn-logout:hover {
  background-color: #ef3a3a !important;
  font-weight: bold;
  transform: scale(1.1);
}

.logout-footer {
  background-color: #7a1818 !important;
  height: 70px;
}

#nav-tab {
  border-bottom: none;
}

.settings-header {
  background-color: #7a1818 !important;
}

.settings-acc, .settings-pw {
  background-color: transparent !important;
  border: transparent !important;
  color: white !important;
  font-family: Arial;
  font-size: 15px !important;
  font-weight: bold;
}

.settings-acc:hover, .settings-pw:hover {
  background: #fef8ea !important;
  color: #881a1a !important;
  font-weight: 600;
  font-family: Arial;
}

.settings-card {
  box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
}
.settings-body {
  /* background-color: #fef8ea !important; */
  background-image: url(/images/img/settings.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.label-set {
  font-weight: bold;
  font-family: Calibri;
  color: white !important;
  font-size: medium;
  background-color: #7c0404b4 !important;
  padding: 2.3px;
  border-radius: 8px;
  border: 1px solid rgba(66, 1, 1, 0.508) !important;
  box-shadow: 0 4px 8px 0 rgb(47, 48, 48) !important;
}

.no-text {
  color: #7a1818 !important;
  text-shadow: 4px 4px 8px goldenrod !important;
  font-family: "Sedan", serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 40px !important;
  padding: 0px;
  margin-top: 8%;
}

.nobday {
  color: #7a1818 !important;
  text-shadow: 4px 4px 8px goldenrod !important;
  font-family: "Dancing Script", cursive;
  font-weight: bold !important;
  text-align: center;
  font-size: 35px;
}

.nobday-img {
  height: 220px;
  border: 3px solid #7a1818 !important;
  border-radius: 8px;
}


.ch-generate {
  background-color: #7a1818 !important;
}

.generate-profile,
.generate-payslip,
.generate-date,
.generate-deduction,
.generate-holiday {
  color: white !important;
  background-color: transparent !important;
  font-size: 13px !important;
  font-family: Georgia;
  font-weight: bold !important;
}

.generate-profile:hover,
.generate-payslip:hover,
.generate-date:hover,
.generate-deduction:hover,
.generate-holiday:hover  {
  background-color: white !important;
  color: #7a1818 !important;
}

.cell-work {
  background-color: #801919 !important;
  border-radius: 0px !important;
}

.cell-rest {
  background-color: #fef8ea !important;
}

.db-icon-payslip {
  width: 25px;
  height: 25px;
  top: 5px;
  right: 3px;
}

.p-work, .p-number {
  color: white !important;
  font-weight: 600;
}

.p-rest, .number-rest {
  color: black !important;
  font-weight: 600;
}

.payroll-label {
  color: #7a1818 !important;
  font-weight: bold;
}

.card-work {
  border: 2px solid #7a1818 !important;
 }

 .date-range {
  color: #7a1818 !important;
  font-family: Georgia;
  font-size: 28px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.payslipname {
  font-family: 'Times New Roman';
  color: black !important;
  margin-top: 5% !important;
}

.empnamepayslip {
  border-bottom: 1px solid black !important;
  font-weight: bold;
}

.company-img {
  width: 55px;
  height: 55px;
}

.companyname {
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}

.payslip {
  color: black !important;
  font-family: Georgia;
  font-size: 18px;
  padding: 2px;
  margin-top: 5%;
}

.payslipemp {
  font-family: Arial;
  font-weight: 500;
  text-transform: uppercase;
}

.table .payslip-color {
  background-color: #7a1818 !important;
}

.earning-table {
  background-color: rgb(252, 190, 190) !important;
  color: black !important;
  border: 1px solid white !important;
  font-weight: bolder;
}


.total-table {
  background-color: rgb(171, 93, 93) !important;
  color: white !important;
  border: 1px solid white !important;
  font-weight: bolder;
}

.total-table-td {
  background-color: rgb(252, 190, 190) !important;
  color: black !important;
  /* border: 1px solid black !important; */
  font-weight: bolder;
}

.netpay-total {
  border: 2px solid green !important;
  background-color: rgb(198, 241, 198) !important;
  padding: 5px;
}

.netpay-words {
  border: 2px solid #7a1818 !important;
  color: black !important;
  font-family: Georgia;
  margin-top: 2% !important;
  font-weight: bold;
  border-radius: 3px;
  padding: 15px;
}

.payslipemp {
  font-family: Arial;
  font-weight: 500;
  text-transform: uppercase;
}

.img-generate-pdf {
  height: 20px;
  width: 20px;
}

.a-pdf {
  margin-right: 5px;
  color: red !important;
  font-size: small;
  text-decoration: none;
}

.a-pdf:hover {
  text-decoration: underline;
}

.a-excel {
  margin-left: 5px;
  color: green !important;
  font-size: small;
  text-decoration: none;
}

.a-excel:hover {
  text-decoration: underline;
}

.img-generate-excel {
  height: 18px;
  width: 18px;
}

.print-slip {
  font-family: 'Calibri';
}

/* Navbar notif */
.notifdescription {
  font-family: 'Calibri';
  color:  black !important;
  font-weight: bold;
}

.notifsubdescription {
  font-family: 'Calibri';
  color:  black !important;
}

.notifdate {
  font-family: 'Times New Roman';
  color: black !important;
  font-weight: bold;
  float: right;
}

.btn-notif-close {
  background-color: #00A9FF !important;
  color: white !important;
  /* border: 2px solid darkblue !important; */
  font-family: 'Arial';
  border: 2px solid #fef8ea !important;
  text-shadow: 1px 1px 1px black !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}

.btn-notif-close:hover {
  background-color: #0494dd !important;
  transform: scale(1.1);
}

.btn-notif-delete {
  background-color: #E74646 !important;
  color: white !important;
  font-family: 'Arial';
  border: 2px solid #fef8ea !important;
  text-shadow: 1px 1px 1px black !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}

.btn-notif-delete:hover {
  background-color: #E72929 !important;
  transform: scale(1.1);
}

/*Eportal Bday*/
.bday-img-eportal {
  height: 90px;
  width: 90px;
  border: 3px solid rgb(233, 187, 3) !important;
  display: block;
  margin: 0 auto;
}

.bday-eportal {
  background-image: url(/images/img/hbd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 0px;
  padding-top: 15px !important;
}

/* .caption-bday {
  display: inline-block !important;
  margin-top: 0px !important;
  position: ab;
} */

.carousel-caption {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

.cb-birthday {
 /* background-color: #fee2fb !important ; */
 background-color: white !important;
 border-bottom-left-radius: 8px;
 border-bottom-right-radius: 8px;
}

.fname-eportal {
  color: white !important;
  text-align: center;
  text-shadow: 1px 1px 2px black !important;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 18px !important;
}

.bday-greet {
  color: yellow !important;
  text-shadow: 1px 1px 2px red !important;
  font-family: "Sedan", serif;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  font-size: 25px;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

.bdaydate-eportal {
  color: gold !important;
  text-shadow: 1px 1px 2px black !important;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 3px;
}

.tr-left-attendance {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tr-right-attendance {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*-- Attendance Script --*/
.clockin-btn {
  background-color: rgb(57, 169, 57) !important;
  color: white !important;
  border-radius: 8px;
  padding: 5px !important;
  text-transform: uppercase;
  font-size: 10px;
}

.clockout-btn {
  background-color: rgb(202, 32, 32) !important;
  color: white !important;
  border-radius: 8px;
  padding: 5px !important;
  text-transform: uppercase;
  font-size: 10px;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
  background-color: #7a1818 !important;
  color: white !important;
}

a.leaflet-control-zoom-in:hover, a.leaflet-control-zoom-out:hover {
  background-color: #fef8ea !important;
  color: #7a1818 !important;
  font-weight: bold !important;
  font-size: 30px !important;
}

.leaflet-popup-content-wrapper {
  background-color: #7a1818 !important;
  color: white !important;
  font-family: 'Arial';
  font-weight: bold;
  border: 2px solid white;
}

.leaflet-popup-close-button {
  color: white !important;
}

/*-- Attendance Script --*/
.clockin-text {
  color: white !important;
  background-color: rgb(18, 156, 27) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid rgb(43, 176, 43)!important;
  letter-spacing: 1px;
}

.clockout-text {
  color: white !important;
  background-color: rgb(182, 13, 13) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid rgb(176, 43, 43)!important;
  letter-spacing: 1px;
}

.totalhours-text {
  color: black !important;
  text-shadow: 1px 1px 2px white;
  background-color: rgb(153, 238, 224) !important;
  border-radius: 8px;
  padding: 5px;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 10px;
  border: 1px solid rgb(43, 176, 174)!important;
  letter-spacing: 1px;
}


.late-deduction-header {
  background-color: #DFD9CA !important;
  color: black !important;
  text-shadow: 1px 1px 2px white !important;
  font-family: 'Arial Black';
}

.late-deduction-body {
  background-color: #fbf9f6 !important;
  color: black !important;
}

.deduction-card {
  background: linear-gradient(180deg, rgb(149, 51, 214), rgb(208, 146, 250))  !important;
  border-radius: 8px;
  height: 238px !important;
  width: 250px !important;
  margin-left: 30px;
}

.total-deduct {
  color: white !important;
  text-shadow: 1px 1px 2px black !important;
  font-size: 12px;
  font-family: 'Arial Black';
}

.deduct-fee {
  color: white !important;
  text-shadow: 1px 1px 2px black !important;
  font-size: 30px;
  font-family: 'Arial Black';
  font-weight: bold;
  padding: 12px;
  padding-top: 50px;
}

.sub-cards {
  margin-left: 135px !important;
}

.holiday-fee {
  font-family: "Sevillana", cursive;
  font-weight: bold;
  font-style: normal;
  color: green !important;
  text-shadow: 1px 1px 2px yellow !important;
}

.earn-fee {
  font-family: "Sevillana", cursive;
  font-weight: bold;
  font-style: normal;
  color: red !important;
  text-shadow: 1px 1px 2px yellow !important;
}

.sss-card {
  background: linear-gradient(180deg, #1c9bf6, #90d0fd) !important;
  border-radius: 8px;
}

.phil-card {
  background: linear-gradient(180deg, #25be20, #7ffd7a) !important;
  border-radius: 8px;
}

.pag-ibig-card {
  background: linear-gradient(180deg, #ef6d02, #fda760) !important;
  border-radius: 8px;
}

.tin-card {
  background: linear-gradient(180deg, #da1515, #f87373) !important;
  border-radius: 8px;
}

.health-card-card {
  background: linear-gradient(180deg, #39AEA9, #8ef8f2) !important;
  border-radius: 8px;
}

.tax-card {
  background: linear-gradient(180deg, #FFC300, #f6da7f) !important;
  border-radius: 8px;
}

.absent-card {
  background: linear-gradient(180deg, #783908, #E29C68) !important;
  border-radius: 8px;
}

.late-card {
  background: linear-gradient(180deg, #E01171, #fb7cb7) !important;
  border-radius: 8px;
}

.sss-total,
.phil-total,
.pag-ibig-total,
.tin-total,
.health-total,
.tax-total,
.absent-total,
.late-total {
  color: white !important;
  text-shadow: 1px 1px 2px black !important;
  font-size: 12px;
  font-family: 'Arial Black';
  letter-spacing: 1px;
}

.sss-subtotal,
.phil-subtotal,
.pag-ibig-subtotal,
.tin-subtotal,
.health-subtotal,
.tax-subtotal,
.absent-subtotal,
.late-subtotal {
  color: white !important;
  font-family: 'Arial Black';
  font-weight: bold;
  padding: 12px;
  font-size: 16px;
  text-shadow: 1px 1px 2px black !important;
  letter-spacing: 1px;
}

.pending-status{
  color: darkgoldenrod !important;
  background-color: rgb(248, 248, 169) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid rgb(146, 146, 14) !important;
  letter-spacing: 1px;
}

.cancel-status {
  color: darkred !important;
  background-color: rgb(243, 186, 186) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid red !important;
  letter-spacing: 1px;
}

.approved-status {
  color: darkgreen !important;
  background-color: rgb(186, 243, 186) !important;
  border-radius: 8px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid green !important;
  letter-spacing: 1px;
}

.eportal-leave {
  color: white !important;
  background-color: transparent !important;
  font-size: 13px !important;
  font-family: 'Arial';
  font-weight: bold !important;
}

.eportal-leave:hover {
  background-color: white !important;
  color: #7a1818 !important;
}

.db-hrmis {
  width: 35px;
  height: 35px; 
}


.text-gray-500#viewbtn {
  color: rgb(105, 105, 105) !important;
  font-weight: 500;
}

span#viewbtn {
  font-weight: 500;
}

a#notifdropdown:hover {
    background-color: #fef8ea !important;
    color: black !important;
    text-shadow: 1px 1px 2px white !important;
    font-family: 'Arial Black';
}

.notif-hrmis {
  width: 25px;
  height: 25px; 
}


 


