.gradient-custom-2 {
    /* fallback for old browsers */
    background: #feffaa;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #feffaa, #dbdd50, #ebb84c, #cea140);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #feffaa, #dbdd50, #ebb84c, #cea140);
}

/* .col-lg-6.d-flex {
    background-image: url('/images/img/userlogin.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.bgimage {
    background-image: url('/images/img/userlogin.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-form {
    background-color: #eee;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
