  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
          <img src="/assets/img/landingpage.jpg" class="img-fluid animated" alt="">
        </div>
        <div class="col-lg-6  d-flex flex-column justify-content-center text-center text-md-start" data-aos="fade-in">
          <h2>Iskolar ng Lungsod ng San Pedro (ILSP)</h2>
          <!-- <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex mt-4 justify-content-center justify-content-md-start">
            <a href="#" class="download-btn"><i class="bi bi-google-play"></i> <span>Google Play</span></a>
            <a href="#" class="download-btn"><i class="bi bi-apple"></i> <span>App Store</span></a>
          </div> -->
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- Signup Section -->
  <section id="signup" class="signup section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Sign Up</h2>
      <p>Sign up to get access to our services and resources.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-3">
        <div class="col">
          <form class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <h2>SIGN UP</h2>
            <div class="row gy-4">
      
              <div class="col-md-4">
                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Your First Name" required="">
              </div>
      
              <div class="col-md-4">
                <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Your Middle Name">
              </div>
      
              <div class="col-md-4">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Your Last Name" required="">
              </div>

              <div class="col-md-3">
                <input type="text" class="form-control" name="school" id="school" placeholder="Complete Name of School" required="">
              </div>

              <div class="col-md-3">
                <input type="text" class="form-control" name="course" id="course" placeholder="Complete Name of Course" required="">
              </div>
      
              <!-- <div class="col-md-3">
                <select type="text" class="form-control" id="school" name="school" placeholder="Your School" required="">
                  <option selected disabled>Select your school</option>
                  <option value="others">Others</option>
                </select>
              </div> -->
              
              <!-- Course Dropdown with 'Others' Option -->
              <!-- <div class="col-md-3">
                <select type="text" class="form-control" id="course" name="course" placeholder="Your Course" required="">
                  <option selected disabled>Select your course</option>
                  <option value="others">Others</option>
                </select>
              </div> -->
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="yearlevel" name="yearlevel" placeholder="Your Year Level" required="">
                  <option selected disabled>Year Level</option>
                  <option>1st Year</option>
                  <option>2nd Year</option>
                  <option>3rd Year</option>
                  <option>4th Year</option>
                </select>
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="academic_status" name="academic_status" placeholder="Your Year Level" required="">
                  <option selected disabled>Academic Status</option>
                  <option>Regular</option>
                  <option>Irregular</option>
                </select>
              </div>
      
              <div class="col-md-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="">
              </div>
      
              <div class="col-md-4">
                <input type="text" class="form-control" id="phoneno" name="phoneno" placeholder="Your Phone No" required="">
              </div>

              <div class="col-md-4">
                <select type="text" class="form-control" id="scholarshipid" name="scholarshipid" placeholder="Your School Year" required="">
                  <option selected disabled>Scholarship</option>
                </select>
              </div>
      
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday" required="">
                  <label for="birthday">Birthday</label>
                </div>
              </div>
              
              
      
              <div class="col-md-3">
                <input type="text" class="form-control" id="birthplace" name="birthplace" placeholder="Birth Place" required="">
              </div>
      
              <div class="col-md-3">
                <input type="text" class="form-control" id="age" name="age" placeholder="Age" required="">
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="gender" name="gender" placeholder="Your Year Level" required="">
                  <option selected disabled>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
      
              <!-- Certification Checkboxes -->
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="certifyInfo" name="certifyInfo" required="">
                  <label class="form-check-label" for="certifyInfo">
                    I certify that the information given in this form is true.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="agreeTerms" name="agreeTerms" required="">
                  <label class="form-check-label" for="agreeTerms">
                    I agree to the terms and conditions.
                  </label>
                </div>
              </div>
      
              <div class="col-12 text-center">
                <button id="signupBtn" class="signupBtn">Send OTP</button>
              </div>
      
            </div>
          </form>
        </div>
      </div>
      
      

    </div>

  </section><!-- /Signup Section -->

  <!-- Features Section -->
  <section id="features" class="features section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Announcements</h2>
        <p>Sample announcements will be displayed here.</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div id="announcement-container">
            <!-- Announcements will be dynamically loaded here, each in its own row -->
        </div>
    </div>
  </section><!-- /Features Section -->

<!-- About Section -->
<section id="about" class="about section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>Sample text about the ISMS project.</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-md-6 content" data-aos="fade-up" data-aos-delay="100">
        <h5><b>Mission</b></h5>
        <p>
          Deliver the highest quality of basic services to our constituents 
          <br> 
          while optimizing our resources in 
          <br>accordance with the statutory 
          requirements and our core values.
        </p>
      </div>
  
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
        <h5><b>Vision</b></h5>
        <p>San Pedro City: A leading recognized smART City in CALABARZON by 2032.
        </p>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <br>

  <div class="container section-title" data-aos="fade-up">
    <h2>Quality Policy</h2>
    <p>The City Government of San Pedro is committed to excellent delivery of basic services, functions and facilities to its constituents through the efficient use of its resources guided by its core values.
      In pursuit of this commitment, we stretch our collective efforts to render 
      the same in accordance with the standards set by ISO 9001:2015, and 
      applicable legal statutory and regulatory requirements, consistent with 
      our passion for continual improvement to sustain the satisfaction of our 
      internal and external clients</p>
  </div>

  <div class="container text-center" data-aos="zoom-out" data-aos-delay="fade-up">
    <img src="/assets/img/footerimg.jpg" class="img-fluid animated w-100" alt="">
  </div>
</section><!-- /About Section -->


<!-- Faq Section -->
<section id="faq" class="faq section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Frequently Asked Questions</h2>
    <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div id="faqContainer" class="faq-container">
          <!-- FAQ items will be dynamically inserted here -->
        </div>
      </div>
    </div>
  </div>
</section><!-- /Faq Section -->


<!-- Chatbot Button -->
<button type="button" class="btn btn-primary rounded-circle chatbot-btn" data-bs-toggle="modal" data-bs-target="#chatbotModal">
  <img src="/assets/img/chatboticon.png" alt="Chatbot" class="img-fluid" style="width: 60px; height: 60px;">
</button>

<!-- Chatbot Modal -->
<div class="modal fade" id="chatbotModal" tabindex="-1" aria-labelledby="chatbotModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-end custom-dialog-padding">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatbotModalLabel">ILSP Chatbot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="chatBody" class="card-body d-flex flex-column" style="max-height: 300px; overflow-y: auto;">
      </div>
      <div id="frequentQuestions" class="p-3">
      </div>
      <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
        <div class="input-group mb-0">
          <input id="chatInput" type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button id="sendButton" class="btn btn-warning" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>














