  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
          <img src="/assets/img/landingimage_png.png" class="img-fluid animated" alt="">
        </div>
        <div class="col-lg-6  d-flex flex-column justify-content-center text-center text-md-start" data-aos="fade-in">
          <h2>Iskolar ng Lungsod ng San Pedro (ILSP)</h2>
          <!-- <p>We are team of talented designers making websites with Bootstrap</p>
          <div class="d-flex mt-4 justify-content-center justify-content-md-start">
            <a href="#" class="download-btn"><i class="bi bi-google-play"></i> <span>Google Play</span></a>
            <a href="#" class="download-btn"><i class="bi bi-apple"></i> <span>App Store</span></a>
          </div> -->
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-md-6 content" data-aos="fade-up" data-aos-delay="100">
          <h5><b>Mission</b></h5>
          <p>
            Deliver the highest quality of basic services to our constituents 
            <br> 
            while optimizing our resources in 
            <br>accordance with the statutory 
            requirements and our core values.
          </p>
        </div>
    
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
          <h5><b>Vision</b></h5>
          <p>San Pedro City: A leading recognized smART City in CALABARZON by 2032.
          </p>
          <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <br>

    <div class="container section-title" data-aos="fade-up">
      <h2>Quality Policy</h2>
      <p>The City Government of San Pedro is committed to excellent delivery of basic services, functions and facilities to its constituents through the efficient use of its resources guided by its core values.
        In pursuit of this commitment, we stretch our collective efforts to render 
        the same in accordance with the standards set by ISO 9001:2015, and 
        applicable legal statutory and regulatory requirements, consistent with 
        our passion for continual improvement to sustain the satisfaction of our 
        internal and external clients</p>
    </div>
  </section><!-- /About Section -->

  <!-- Signup Section -->
  <section id="signup" class="signup section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Sign Up</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-3">
        <div class="col">
          <form class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
      
              <div class="col-md-4">
                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Your First Name" required="">
              </div>
      
              <div class="col-md-4">
                <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Your Middle Name" required="">
              </div>
      
              <div class="col-md-4">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Your Last Name" required="">
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="school" name="school" placeholder="Your School" required="">
                  <option selected disabled>Select your school</option>
                  <!-- <option value="OLAC">OLAC</option>
                  <option value="ILSP">ILSP</option>
                  <option value="ISL">ISL</option>
                  <option value="ISL">ISL</option> -->
                </select>
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="course" name="course" placeholder="Your Course" required="">
                  <option selected disabled>Select your Course</option>
                  <!-- <option value="OLAC">OLAC</option>
                  <option value="ILSP">ILSP</option>
                  <option value="ISL">ISL</option>
                  <option value="ISL">ISL</option> -->
                </select>
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="yearlevel" name="yearlevel" placeholder="Your Year Level" required="">
                  <option selected disabled>Year Level</option>
                  <option>1st Year</option>
                  <option>2nd Year</option>
                  <option>3rd Year</option>
                  <option>4th Year</option>
                </select>
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="academic_status" name="academic_status" placeholder="Your Year Level" required="">
                  <option selected disabled>Academic Status</option>
                  <option>Regular</option>
                  <option>Irregular</option>
                </select>
              </div>
      
              <div class="col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="">
              </div>
      
              <div class="col-md-6">
                <input type="text" class="form-control" id="phoneno" name="phoneno" placeholder="Your Phone No" required="">
              </div>
      
              <div class="col-md-3">
                <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birth Day" required="">
              </div>
      
              <div class="col-md-3">
                <input type="text" class="form-control" id="birthplace" name="birthplace" placeholder="Birth Place" required="">
              </div>
      
              <div class="col-md-3">
                <input type="text" class="form-control" id="age" name="age" placeholder="Age" required="">
              </div>
      
              <div class="col-md-3">
                <select type="text" class="form-control" id="gender" name="gender" placeholder="Your Year Level" required="">
                  <option selected disabled>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
      
              <!--Father's Details-->
              <div class="col-4">
                <input type="text" class="form-control" id="fathersname" name="fathersname" placeholder="Father's Name" required="">
              </div>
      
              <div class="col-4">
                <input type="text" class="form-control" id="fatheroccupation" name="fatheroccupation" placeholder="Occupation" required="">
              </div>
      
              <div class="col-4">
                <input type="text" class="form-control" id="fathersalaryincome" name="fathersalaryincome" placeholder="Monthly Salary Income" required="">
              </div>
      
              <!--Mother's Details-->
              <div class="col-4">
                <input type="text" class="form-control" id="mothersname" name="mothersname" placeholder="Mother's Name" required="">
              </div>
      
              <div class="col-4">
                <input type="text" class="form-control" id="mothersoccupation" name="mothersoccupation" placeholder="Occupation" required="">
              </div>
      
              <div class="col-4">
                <input type="text" class="form-control" id="mothersalaryincome" name="mothersalaryincome" placeholder="Monthly Salary Income" required="">
              </div>
      
              <!-- Certification Checkboxes -->
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="certifyInfo" name="certifyInfo" required="">
                  <label class="form-check-label" for="certifyInfo">
                    I certify that the information given in this form is true.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="agreeTerms" name="agreeTerms" required="">
                  <label class="form-check-label" for="agreeTerms">
                    I agree to the terms and conditions.
                  </label>
                </div>
              </div>
      
              <div class="col-12 text-center">
                <!-- <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div> -->
                <!-- <button type="submit" disabled>Sign Up</button> -->
                <button id="signupBtn" class="signupBtn">Send OTP</button>
              </div>
      
            </div>
          </form>
        </div>
      </div>
      
      

    </div>

  </section><!-- /Signup Section -->

  <!-- Features Section -->
  <section id="features" class="features section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Announcements</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div id="announcement-container">
            <!-- Announcements will be dynamically loaded here, each in its own row -->
        </div>
    </div>
  </section><!-- /Features Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>4F New City Hall Bldg., Brgy. Poblacion</p>
                <p>City of San Pedro, Laguna</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
                <p>+1 6678 254445 41</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com</p>
                <p>contact@example.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday</p>
                <p>9:00AM - 05:00PM</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
              </div>

              <div class="col-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
              </div>

              <div class="col-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->