<div class="card bank-card">
    <div class="card-header" id="modal-header">
      <h3 class="title-card-table">Add Courses</h3>
    </div>
    <div class="card-body bank-body">
      <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-6">
          <div class="input-group mb-3">
            <label class="input-group-text bank-btn" for="employee">Employee</label>
            <select class="form-select border-form-modal" id="employee">
              <option selected>--Select Employee--</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6">
          <div class="input-group mb-3">
            <label class="input-group-text bank-btn" for="bank">Bank</label>
            <select class="form-select border-form-modal" id="bank">
              <option selected>--Select Bank--</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-6">
          <div class="input-group mb-3">
            <span class="input-group-text bank-btn" id="basic-addon1">Account Number</span>
            <input
              id="accountnumber"
              name="accountnumber"
              type="text"
              class="form-control border-form-modal"
              placeholder="Account Number"
              aria-label="Account Number"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6">
          <div class="input-group mb-3">
            <span class="input-group-text bank-btn" id="basic-addon1">Card Number</span>
            <input
              id="cardnumber"
              name="cardnumber"
              type="text"
              class="form-control border-form-modal"
              placeholder="Card Number"
              aria-label="Card Number"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6 col-xl-6">
          <div class="input-group mb-3">
            <span class="input-group-text bank-btn" id="basic-addon1">Expiration Date</span>
            <input
              id="expirationdate"
              name="expirationdate"
              type="date"
              class="form-control border-form-modal"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-1 col-add">
          <button
            id="addBtn"
            name="addBtn"
            class="btn btn-add-color"
            type="button"><b>+ Add</b></button>
        </div>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-sm-1 col-add">
          <button
            id="uploadBtn"
            name="uploadBtn"
            class="btn btn-export-color"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#uploadModal"><b>Upload</b></button>
        </div>
      </div>
    </div>
  </div>

<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">List Of Courses</h3>
      <div class="row g-2">
        <div class="col">
          <input id='myInput' type='text' placeholder="  Search....">
        </div>
        <div class="col-sm-1 col-add">
          <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#addinstitutionsmodal">
            <b>+ Add</b>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-light table-bordered " id="dataTableCourses">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Institution Name</th>
                        <th>Course Type</th>
                        <th>Course Term</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addinstitutionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Add Users Admin</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="instname" name="instname" placeholder="First Name">
                    <label for="floatingInput">Institutions Name</label>
                    </div>
                </div>
                <br>
                <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="instaddress" name="instaddress" placeholder="First Name">
                    <label for="floatingInput">Institutions Address</label>
                    </div>
                </div>
                <br>
                <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="instphone" name="instphone" placeholder="First Name">
                    <label for="floatingInput">Institutions Phone</label>
                    </div>
                </div>
                <br>
                <div class="col">
                <div class="form-floating">
                    <input type="email" class="form-control border-form-modal" id="instemail" name="instemail" placeholder="First Name">
                    <label for="floatingInput">Institutions Email</label>
                    </div>
                </div>            
                <br>
                <div class="col">
                <div class="form-floating">
                    <label class="form-label" for="customFile"></label>
                    <input type="file" name="editannouncementimage" id="editannouncementimage" class="form-control border-form-modal" accept="image/*">
                    <div class="text-center">
                    <img id="editpreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="placeholder">
                    </div>
                </div>
                </div>
                <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="institutionsSaveBtn">Save</button>
        </div>
      </div>
    </div>
</div>

  <!-- Edit Modal -->
<div class="modal fade" id="editinstitutionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Edit Institutions</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editinstname" name="editinstname" placeholder="First Name">
                  <label for="floatingInput">Institutions Name</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editinstaddress" name="editinstaddress" placeholder="First Name">
                  <label for="floatingInput">Institutions Address</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editinstphone" name="editinstphone" placeholder="First Name">
                  <label for="floatingInput">Institutions Phone</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editinstemail" name="editinstemail" placeholder="First Name">
                  <label for="floatingInput">Institutions Email</label>
                  </div>
              </div>            
              <br>
              <div class="col">
                <div class="form-floating">
                  <label class="form-label" for="customFile"></label>
                  <input type="file" name="announcementimage" id="announcementimage" class="form-control border-form-modal" accept="image/*">
                  <div class="text-center">
                    <img id="preview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="placeholder">
                  </div>
                </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="editinstitutionsSaveBtn">Save</button>
        </div>
      </div>
    </div>
</div>