<script>
  $(document).ready(function () {
    let anouncementdiv = "";
    GenerateAnouncement();

    function GenerateAnouncement() {
      $.ajax({
        type: "GET",
        url: "studentindex/getbulletin",
        success: function (result) {
          if (result.msg === "success") {
            const announcementData = result.data;
            let counter = 0;
            $.each(announcementData, (key, item) => {
              counter++;
              anouncementdiv += `
                            <div class="carousel-item active" data-bs-interval="3000">
                                    <img id="preview${counter}" src="data:image/jpg;base64,${item.image}"
                                     class="d-block w-100 eportal-img-announce" alt="...">


                                <div class="announcement-hrmis">
                                    <h6 id="announcedate${counter}" class="a-date">${item.targetdate}</h6>
                                    <h6 id="announcetitle${counter}" class="announce-title">${item.title}</h6>
                                    <p id="announcedesc${counter}" class="a-des">${item.description}</p>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselannouncement" data-bs-slide="prev">
                                    <i class='bx bxs-left-arrow prev-hrmis' aria-hidden="true"></i>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselannouncement" data-bs-slide="next">
                                    <i class='bx bxs-right-arrow next-hrmis' aria-hidden="true"></i>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                </div>
                                </div>`;
            });
          } else {
            console.error("Error: ", result.message);
            swal(
              "An error occurred while fetching announcement data",
              "Please try again later.",
              "error"
            );
          }

          $("#carouselannouncement").html(anouncementdiv);
        },
        error: function (err) {
          console.error("AJAX Error: ", err.responseText);
          swal(
            "An error occurred while fetching announcement data",
            "Please try again later.",
            "error"
          );
        },
      });
    }
  });
</script>
