<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Add Question and Response</h3>
      <div class="row g-2">
        <div class="col">
          <input id='myInput' type='text' placeholder="  Search....">
        </div>
        <div class="col-sm-1 col-add">
          <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#addquestionsmodal">
            <b>+ Add</b>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-light table-bordered " id="dataTableQuestions">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th>Question</th>
                        <th>Response</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addquestionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Add Questions</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="questions" name="questions" placeholder="First Name">
                    <label for="floatingInput">Questions</label>
                  </div>
                </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="responses" name="responses" placeholder="First Name">
                  <label for="floatingInput">Response</label>
                  </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="addquestionSaveBtn">Save</button>
        </div>
      </div>
    </div>
</div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editquestionsmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Edit Questions</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control border-form-modal" id="editquestions" name="editquestions" placeholder="First Name">
                    <label for="floatingInput">Questions</label>
                  </div>
                </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editresponses" name="editresponses" placeholder="First Name">
                  <label for="floatingInput">Response</label>
                  </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <!-- <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-modal-save" id="editquestionSaveBtn">Save</button>
          <button type="button" class="btn btn-modal-close" id="addquestionDeleteBtn">Delete Question</button>
        </div>
      </div>
    </div>
</div>
