<script src="/javascripts/js/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script>
  let base64String = "";
  let studentid = "";
  $(document).ready(function () {
    LoadTable();

    $(document).on("keyup", "#myInput", function () {
      searchTable();
    });

    function LoadTable() {
      var table = $("#dataTableVerifiedStudents").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/master_student/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              action = `
            <button id="edit-btn" class="btn text-primary" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-eye"></i></button>
          `;

              finalData.push({
                studentid: item.studentid,
                fullname: item.fullname,
                phone: item.phone,
                email: item.email,
                status: item.status,
                schoolname: item.schoolname,
                coursecode: item.coursecode,
                baranggay: item.baranggay,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "studentid" },
          { data: "fullname" },
          { data: "phone" },
          { data: "email" },
          { data: "status" },
          { data: "schoolname" },
          { data: "coursecode" },
          { data: "baranggay" },
          { data: "action" },
        ],
        createdRow: function (row, data, dataIndex) {
          var StatusCell = $(row).find("td:eq(4)");
          var StatusText = data.status;
          var StatusClass = "";

          switch (StatusText.toLowerCase()) {
            case "verified":
              StatusClass = "regular-status";
              break;
            case "unverified":
              StatusClass = "probationary-status";
              break;
            default:
              StatusClass = "";
          }

          StatusCell.html(
            `<span class="${StatusClass}">${StatusText}</span>`
          );

          $("td", row).each(function (index) {
            this.style.textAlign = "center";
            this.style.verticalAlign = "middle";
          });
        },

        initComplete: function () {
          // Bind click events to sorting icons for ascending and descending sort
          $("#sort-asc").on("click", function () {
            table.order([0, "asc"]).draw();  // Sort by studentid ascending
          });

          $("#sort-desc").on("click", function () {
            table.order([0, "desc"]).draw();  // Sort by studentid descending
          });
        },
      });
    }


    // function LoadTable() {
    //   $("#dataTableVerifiedStudents").DataTable({
    //     destroy: true,
    //     processing: true,
    //     serverSide: true,
    //     paging: false,
    //     searching: false,
    //     info: false,
    //     scrollY: 400,
    //     scrollCollapse: true,
    //     serverMethod: "GET",
    //     ajax: {
    //       url: "/master_student/load",
    //       dataSrc: (json) => {
    //         var finalData = [];
    //         var data = json.data;

    //         $.each(data, (key, item) => {
    //           var action = "";
    //           var status = item.status;

    //           action = `
    //             <button id="edit-btn" class="btn text-primary" name="edit-btn" data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="fas fa-fw fa-eye"></i></button>
    //            `;

    //           // var imgElement = document.createElement("img");
    //           // imgElement.src = "data:image/jpg;base64," + item.image;
    //           // imgElement.alt = "Profile Image";
    //           // imgElement.style.width = "90px";
    //           // imgElement.style.height = "90px";

    //           finalData.push({
    //             // image: imgElement.outerHTML,
    //             studentid: item.studentid,
    //             fullname: item.fullname,
    //             phone: item.phone,
    //             email: item.email,
    //             status: item.status,
    //             schoolname: item.schoolname,
    //             coursecode: item.coursecode,
    //             baranggay: item.baranggay,
    //             action: action,
    //           });
    //         });

    //         return finalData;
    //       },
    //     },
    //     columnDefs: [
    //       {
    //         targets: 1,
    //         className: "td-indent",
    //       },
    //     ],
    //     columns: [
    //       // { data: "image" },
    //       { data: "studentid" },
    //       { data: "fullname" },
    //       { data: "phone" },
    //       { data: "email" },
    //       { data: "status" },
    //       { data: "schoolname" },
    //       { data: "coursecode" },
    //       { data: "baranggay" },
    //       { data: "action" },
    //     ],
    //     createdRow: function (row, data, dataIndex) {
    //       //miyaka
    //       var StatusCell = $(row).find("td:eq(4)");

    //       var StatusText = data.status;

    //       var StatusClass = "";

    //       switch (StatusText.toLowerCase()) {
    //         case "Verified":
    //            StatusClass = "regular-status";
    //           break;
    //         case "UnVerified":
    //           StatusClass = "probationary-status";
    //           break;
    //         default:
    //           StatusClass = "";
    //       }

    //       StatusCell.html(
    //         `<span class="${StatusClass}">${StatusText}</span>`
    //       );

    //       $("td", row).each(function (index) {
    //         this.style.textAlign = "center";
    //         this.style.verticalAlign = "middle";
    //       });
    //     },

    //     initComplete: function () {},
    //   });
    // }

    $(document).on("click", "#edit-btn", function () {
      $.ajax({
        type: "POST",
        url: `/master_student/getstudents`,
        data: {
          studentid: studentid,
        },
        success: function (result) {
          if (result.msg === "success") {
            const existingData = result.data;

            $.each(existingData, (key, item) => {
              $("#editemployeeid").val(item.studentid);
              $("#editemployeefname").val(item.first_name);
              $("#editemployeemname").val(item.middle_name);
              $("#editemployeelname").val(item.last_name);
              $("#editemployeebday").val(item.birthday);
              $("#editemployeegender").val(`${item.gender}`);
              $("#editemployeecivilstatus").val(`${item.civilstatus}`);
              $('#editemployeegender').append(`<option selected value="${item.gender}">${item.gender}</option>`);
              $("#editemployeephone").val(item.phone);
              $("#editemployeeemail").val(item.email);
              $("#editemployeehiredate").val(item.hiredate);
              $("#editemployeejobstatus").val(`${item.jobstatus}`);
              $('#editemployeejobstatus').append(`<option selected value="${item.jobstatus}">${item.jobstatus}</option>`);
              $("#editemployeeemergencyname").val(item.ercontactname);
              $("#editemployeeemergencyphone").val(item.ercontactphone);
              $("#editemployeedepartment").val(item.department);
              $('#editemployeeposition').append(`<option selected value="${item.position}">${item.position}</option>`);
              $("#editemployeeaddress").val(item.address);
              $("#editpreview").attr(
                "src",
                "data:image/jpg;base64," + item.profilePicturePath
              );
              $("#").val(item.totalleaveofdays);
              $("#editemployeeposition").val(`${item.position}`);
              base64String = item.profilePicturePath;
            });

            $.ajax({
              type: "POST",
              url: "/employee/getemployeeprofile",
              data: {
                employeeid: employeeid,
              },
              success: function (result) {
                if (result.msg === "success") {
                  const employeeprofile = result.data;

                  $.each(employeeprofile, (key, item) => {
                    $("#employeeprofileid").text(item.employeeid);
                    $("#employeeprofilename").text(item.firstname);
                    $("#employeeprofiledepartment").text(item.department);
                    $("#employeeprofileposition").text(item.position);
                    $("#employeeprofilephone").text(item.contact);
                    $("#employeework").text(item.tenure);
                  });
                }
              },
            });
          } else {
            swal("Error fetching employee data", message, "error");
          }
        },
        error: function (err) {
          swal(
            "An error occurred while fetching employee data",
            message,
            "error"
          );
        },
      });
    });
  });
</script>