<!-- <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="/images/img/ILSP-removebg-preview.png"
                      style="width: 100px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Iskolar ng Lungsod ng San Pedro</h4>
                    <h5 class="mt-1 mb-5 pb-1">Check Your Student ID to your Registered Email</h5>
                  </div>
  
                  <form>
                    <p>Create Your Username and Password</p>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="studentid" class="form-control"/>
                        <label class="form-label" for="form2Example11">Applicant ID</label>
                      </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="username" class="form-control"/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <div class="input-group">
                        <input type="password" class="form-control" id="password">
                        <button class="btn btn-ojt-pw toggle-password" type="button" data-target="#password">
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                      <label class="form-label" for="password">Password</label>
                    </div>
                    
                    <div data-mdb-input-init class="form-outline mb-4">
                      <div class="input-group">
                        <input type="password" class="form-control" id="confirmpassword">
                        <button class="btn btn-ojt-pw toggle-password" type="button" data-target="#confirmpassword">
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                      <label class="form-label" for="confirmpassword">Confirm Password</label>
                    </div>
                    
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                      id="createbtn" type="button">
                        Create
                     </button>
                      <a class="text-muted" href="/login">Proceed to Login?</a>
                    </div>
                    </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="/images/img/ILSP-removebg-preview.png"
                      style="width: 100px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Iskolar ng Lungsod ng San Pedro</h4>
                    <h5 class="mt-1 mb-5 pb-1">Check Your Student ID to your Registered Email</h5>
                  </div>

                  <form>
                    <p>Create Your Username and Password</p>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="studentid" class="form-control"/>
                        <label class="form-label" for="form2Example11">Applicant ID</label>
                      </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="username" class="form-control"/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <div class="input-group">
                        <input type="password" class="form-control" id="password">
                        <button class="btn btn-ojt-pw toggle-password" type="button" data-target="#password">
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                      <label class="form-label" for="password">Password</label>
                    </div>
                    
                    <div data-mdb-input-init class="form-outline mb-4">
                      <div class="input-group">
                        <input type="password" class="form-control" id="confirmpassword">
                        <button class="btn btn-ojt-pw toggle-password" type="button" data-target="#confirmpassword">
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                      <label class="form-label" for="confirmpassword">Confirm Password</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                      id="createbtn" type="button">
                        Create
                     </button>
                      <!-- <a class="text-muted" href="/login">Proceed to Login?</a> -->
                    </div>
                  </form>
                  
                  <!-- Important Notice -->
                  <div class="p-4 mt-4" style="background-color: #fdf9b4;">
                    <h5 class="mb-3">Important Notice:</h5>
                    <ol style="padding-left: 1.5rem;">
                      <li><strong>Username:</strong> Choose a unique username that you will use to log in.</li>
                      <li><strong>Applicant ID:</strong> Enter your assigned Applicant ID for verification purposes.</li>
                      <li><strong>Email Address:</strong> Enter a valid email address. A confirmation email will be sent to verify your account.</li>
                      <li><strong>Password:</strong> Create a strong password for your account. Your password should be a minimum of 8 characters, including a combination of uppercase and lowercase letters, numbers, and special characters for security.</li>
                    </ol>
                    <p>After submitting, please check your email for a verification link to complete the registration process. Ensure that all information is accurate before proceeding.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
