<br>

<!-- Table -->
<div class="card" id="tablecard">
    <div class="card-header ch-coop">
      <h3 class="title-card-table">Admin Users</h3>
      <div class="row g-2">
        <div class="col">
          <input id='myInput' type='text' placeholder="  Search....">
        </div>
        <div class="col-sm-1 col-add">
          <button type="button" class="btn btn-add-color" data-bs-toggle="modal" data-bs-target="#addadminusersmodal">
            <b>+ Add</b>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="table-responsive"  id="table-responsive-id">
            <table class="table table-light table-bordered " id="dataTableAdminUsers">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th class="col-sm-1">ID</th>
                        <th>Full Name</th>
                        <th>Access Type</th>
                        <th>User Name</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addadminusersmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Add Users Admin</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
              <div class="col">
                <div class="form-floating">
                  <select type="text" class="form-control border-form-modal" id="accesstype" name="accesstype" placeholder="First Name">
                    <option selected disabled>Access Type</option>
                  </select>
                  <label for="floatingInput">Access Type</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="fullname" name="fullname" placeholder="First Name">
                  <label for="floatingInput">Full Name</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="email" class="form-control border-form-modal" id="emailadmin" name="emailadmin" placeholder="Email">
                  <label for="floatingInput">Email</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="username" name="username" placeholder="First Name">
                  <label for="floatingInput">Username</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating position-relative">
                  <input type="password" class="form-control border-form-modal" id="password" name="password" placeholder="Password">
                  <button class="btn btn-ojt-pw toggle-password position-absolute" type="button" data-target="#password" style="right: 10px; top: 50%; transform: translateY(-50%);">
                    <i class="fas fa-eye"></i>
                  </button>
                  <label for="password">Password</label>
                </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating position-relative">
                  <input type="password" class="form-control border-form-modal" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                  <button class="btn btn-ojt-pw toggle-password position-absolute" type="button" data-target="#confirmpassword" style="right: 10px; top: 50%; transform: translateY(-50%);">
                    <i class="fas fa-eye"></i>
                  </button>
                  <label for="confirmpassword">Confirm Password</label>
                </div>
              </div>              
              <br>
              <div class="col">
                <div class="form-floating">
                  <label class="form-label" for="customFile"></label>
                  <input type="file" name="announcementimage" id="announcementimage" class="form-control border-form-modal" accept="image/*">
                  <div class="text-center">
                    <img id="preview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="placeholder">
                  </div>
                </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="adminusersavebtn">Save</button>
        </div>
      </div>
    </div>
</div>

  <!-- Edit Modal -->
<div class="modal fade" id="editadminusersmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
        colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
          <h3 class="modal-title" id="exampleModalLabel">Edit Users Admin</h3>
          <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
              <div class="col">
                <div class="form-floating">
                  <select type="text" class="form-control border-form-modal" id="editaccesstype" name="editaccesstype" placeholder="First Name">
                    <option selected disabled>Access Type</option>
                  </select>
                  <label for="floatingInput">Access Type</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editfullname" name="editfullname" placeholder="First Name">
                  <label for="floatingInput">Full Name</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control border-form-modal" id="editusername" name="editusername" placeholder="First Name">
                  <label for="floatingInput">Username</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating">
                  <select type="text" class="form-control border-form-modal" id="editstatus" name="editstatus" placeholder="First Name">
                    <option>Active</option>
                    <option>Inactive</option>
                  </select>
                  <label for="floatingInput">Status</label>
                  </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating position-relative">
                  <input type="password" class="form-control border-form-modal" id="currentPassword" name="currentPassword" placeholder="Password">
                  <button class="btn btn-ojt-pw toggle-password position-absolute" type="button" data-target="#currentPassword" style="right: 10px; top: 50%; transform: translateY(-50%);">
                    <i class="fas fa-eye"></i>
                  </button>
                  <label for="password">Current Password</label>
                </div>
              </div>
              <br>
              <div class="col">
                <div class="form-floating position-relative">
                  <input type="password" class="form-control border-form-modal" id="newpassword" name="newpassword" placeholder="Confirm Password">
                  <button class="btn btn-ojt-pw toggle-password position-absolute" type="button" data-target="#newpassword" style="right: 10px; top: 50%; transform: translateY(-50%);">
                    <i class="fas fa-eye"></i>
                  </button>
                  <label for="confirmpassword">New Password</label>
                </div>
              </div>              
              <br>
              <div class="col">
                <div class="form-floating">
                  <label class="form-label" for="customFile"></label>
                  <input type="file" name="editannouncementimage" id="editannouncementimage" class="form-control border-form-modal" accept="image/*">
                  <div class="text-center">
                    <img id="editpreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="placeholder">
                  </div>
                </div>
              </div>
              <br>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-modal-save" id="adminUserEditBtn">Save</button>
        </div>
      </div>
    </div>
</div>