<div class="container p-0">
    <div class="tab-pane fade show active" id="account" role="tabpanel">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-3 mb-4">
                        <div class="text-center">
                            <div class="text-center">
                            <img id="profileimagepreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="placeholder">
                            <!-- <input type="file" name="profileImage" id="profileImage" class="form-control border-form-modal" accept="image/*"> -->
                            </div>
                        </div>
                        
                        <ul class="list-group mt-4">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-work">
                            <div class="col-sm-6">
                                <p class="mb-0 p-work" id="headercourse">Applicant ID</p>
                            </div>
                            <p class="mb-0 p-number" id="student_id"></p>
                        </li>
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center p-3 cell-rest">
                            <div class="col-sm-6">
                                <p class="mb-0 p-rest" id="headerschool">School Year</p>
                            </div>
                            <p class="mb-0 number-rest" id="scholarshipid"></p>
                        </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <ul class="nav nav-tabs d-flex justify-content-start mb-4" role="tablist">
                            <li class="nav-item text-center">
                                <a class="nav-link active w-auto px-4" data-toggle="tab" href="#home" role="tab">Home</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link w-auto px-4" data-toggle="tab" href="#residency" role="tab">Residency</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link w-auto px-4" data-toggle="tab" href="#family" role="tab">Family Background</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link w-auto px-4" data-toggle="tab" href="#upload" role="tab">Upload Documents</a>
                            </li>
                        </ul>            
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <form>
                                    <!-- Form fields -->
                                    <div class="row g-3">
                                        <div class="col-12 col-md-4">
                                            <label for="first_name">First name</label>
                                            <input type="text" class="form-control" name="First Name" id="first_name" placeholder="First name" title="Enter your first name if any." disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="middle_name">Middle name</label>
                                            <input type="text" class="form-control" name="Middle Name" id="middle_name" placeholder="Middle name" title="Enter your middle name if any." disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="last_name">Last name</label>
                                            <input type="text" class="form-control" name="Last Name" id="last_name" placeholder="Last name" title="Enter your last name." disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-12 col-md-4">
                                            <label for="dob">Date of birth</label>
                                            <input type="date" class="form-control" name="dob" id="dob" disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="birthplace">Birthplace</label>
                                            <input type="text" class="form-control" name="birthplace" id="birthplace" disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="phone">Phone number</label>
                                            <input type="text" class="form-control" name="phone" id="phone"disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="gender">Gender</label>
                                            <select class="form-control" name="gender" id="gender" disabled>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="age">Age</label>
                                            <input type="text" class="form-control" name="age" id="age" disabled>
                                        </div>
                                        <!-- <div class="col-12 col-md-4">
                                            <label for="scholar_status">Scholar Status</label>
                                            <input type="text" class="form-control" name="scholar_status" id="scholar_status">
                                        </div> -->
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="school_name">Name Of School</label>
                                            <select class="form-control" name="school_name" id="school_name" disabled>
                                                <option selected disabled></option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="course_strand">Course/Strand</label>
                                            <select class="form-control" name="course_strand" id="course_strand" disabled>
                                                <option selected disabled></option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-12 col-md-4">
                                            <label for="year_level">Year Level</label>
                                            <select class="form-control" name="year_level" id="year_level" disabled>
                                                <option selected disabled> Choose year level </option>
                                                <option value="1st Year">1st Year</option>
                                                <option value="2nd Year">2nd Year</option>
                                                <option value="3rd Year">3rd Year</option>
                                                <option value="4th Year">4th Year</option>
                                                <option value="5th Year">5th Year</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="academic_status">Academic Status</label>
                                            <input type="text" class="form-control" name="academic_status" id="academic_status" disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="register_date">Register Date</label>
                                            <input type="date" class="form-control" name="register_date" id="register_date" disabled>
                                        </div>
                                    </div>
                                    <br>
                                </form>
                            </div>
                            <div class="tab-pane" id="residency" role="tabpanel">
                                <form>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-12 col-md-4">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" name="city" id="city" disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="barangay">Barangay</label>
                                            <input type="text" class="form-control" name="barangay" id="barangay" disabled>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="village">Village/Purok</label>
                                            <input type="text" class="form-control" name="village" id="village" disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="street_address">Street Address</label>
                                            <input type="text" class="form-control" name="street_address" id="street_address" disabled>
                                        </div>
                                        <div class="col">
                                            <label for="houseno">House No</label>
                                            <input type="text" class="form-control" name="houseno" id="houseno" placeholder="House No" title="Enter your house no." disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="family" role="tabpanel">
                                <form>
                                    <br>
                                     <div class="row g-3">
                                        <div class="col">
                                            <label for="fathersname">Fathers Name</label>
                                            <input type="text" class="form-control" name="Fathers Name" id="fathersname" placeholder="Fathers Name" title="Enter your fathers name." disabled>
                                        </div>
                                        <div class="col">
                                            <label for="fathersoccupation">Occupation</label>
                                            <input type="text" class="form-control" name="Occupation" id="fathersoccupation" placeholder="Fathers Occupation" title="Enter your fathers occupation." disabled>
                                        </div>
                                        <div class="col">
                                            <label for="fathersmonthly">Monthly Salary</label>
                                            <input type="text" class="form-control" name="Fathers Monthly" id="fathersmonthly" placeholder="Fathers Monthly" title="Enter your fathers monthly salary." disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="mothersname">Mother's Name</label>
                                            <input type="text" class="form-control" name="Mothers Name" id="mothersname" placeholder="Mothers Name" title="Enter your mothers name." disabled>
                                        </div>
                                        <div class="col">
                                            <label for="mothersoccupation">Occupation</label>
                                            <input type="text" class="form-control" name="Occupation" id="mothersoccupation" placeholder="Mothers Occupation" title="Enter your mothers occupation." disabled>
                                        </div>
                                        <div class="col">
                                            <label for="mothersmonthly">Monthly Salary</label>
                                            <input type="text" class="form-control" name="Monthly Salary" id="mothersmonthly" placeholder="Mothers Monthly" title="Enter your mothers monthly salary." disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                            <div class="tab-pane" id="upload" role="tabpanel">
                                <form>
                                    <div class="container">
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <label for="reqtruecopygrade">Certified True Copy ng inyong grado (mula sa nakaraang markahan)</label>
                                                <p class="form-label">Upload the certified true copy of your grades.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center mt-2">
                                                    <img id="truecopypreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="preview">
                                                    <button id="previewTrueCopy" type="button" class="btn btn-secondary mt-2">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <label for="reqregform">Orihinal at kopya ng inyong enrolment/registration form ng 1st semester (AY 2024-2025)</label>
                                                <p class="form-label">Upload the original and copy of your enrollment/registration form for the first semester.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center mt-2">
                                                    <img id="regformpreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="preview">
                                                    <button id="previewRegForm" type="button" class="btn btn-secondary mt-2">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <label for="reqcertres">Certificate of Residency</label>
                                                <p class="form-label">Upload your certificate of residency.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center mt-2">
                                                    <img id="certrespreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="preview">
                                                    <button id="previewCertRes" type="button" class="btn btn-secondary mt-2">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <label for="reqitr">Kapag nagtatrabaho ang mga magulang - Income Tax Return (ITR) mula sa BIR</label>
                                                <p class="form-label">Upload the Income Tax Return (ITR) from BIR if your parents are employed.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center mt-2">
                                                    <img id="itipreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="preview">
                                                    <button id="previewItr" type="button" class="btn btn-secondary mt-2">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <label for="reqnfi">Kapag walang trabaho ang mga magulang - Affidavit of No Fixed Income (makukuha sa City Legal Office ang sertipikasyon o katunayan bago dalhin sa BIR)</label>
                                                <p class="form-label">Upload the Affidavit of No Fixed Income if your parents are unemployed.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center mt-2">
                                                    <img id="nfipreview" src="https://via.placeholder.com/250" class="rounded border-form-modal" alt="preview">
                                                    <button id="previewNfi" type="button" class="btn btn-secondary mt-2">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>