<br>

<!-- Table -->
<div class="card" id="tablecard">
  <div class="card-header ch-coop">
    <h3 class="title-card-table">List of Grades</h3>
    <div class="row g-2">
      <div class="col">
        <input id='myInput' type='text' placeholder="  Search....">
      </div>
      <div class="col-sm-2 col-add">
        <button data-bs-toggle="modal" data-bs-target="#openModalBank" class="btn btn-export-color"><b>Filter Export</b></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive" id="table-responsive-id">
      <table class="table table-light table-bordered " id="dataTableGrades">
        <thead>
          <tr>
            <th class="col-sm-1">ID</th>
            <th>Full Name</th>
            <th>Status</th>
            <th>School</th>
            <th>Scholarship</th>
            <th>1st Sem Grade</th>
            <th>2nd Sem Grade</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>


<div class="modal fade" id="openModalBank" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
            <lord-icon src="https://cdn.lordicon.com/hwpjjkev.json" class="db-hrmis"></lord-icon>
            <h1 class="modal-title" id="exampleModalLabel">Filter Pending Application</h1>
            <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
        </div>
        <div class="modal-body modal-batch-body" id="modal-body">
            <form>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select border-form-modal" id="selectSchoolYear" name="selectSchoolYear"
                          aria-label="Floating label select example">
                          <option selected disabled>Choose</option>
                        </select>
                        <label for="floatingSelectGrid">Scholarship School Year</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" id="modal-footer">
            <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-modal-save" id="exportpendingapplication">Export</button>
        </div>
      </div>
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="addquestionsmodal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
          colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
        <h3 class="modal-title" id="exampleModalLabel">Add Scholarship</h3>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="scholarname" name="scholarname"
                placeholder="First Name">
              <label for="floatingInput">Scholarship Name</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="scholardesc" name="scholardesc"
                placeholder="First Name">
              <label for="floatingInput">Description(optional)</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="number" class="form-control border-form-modal" id="maxslots" name="maxslots"
                placeholder="First Name">
              <label for="floatingInput">Maximum Slots</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control border-form-modal" id="startdate" name="startdate"
                placeholder="First Name">
              <label for="floatingInput">Start Date</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control border-form-modal" id="enddate" name="enddate"
                placeholder="First Name">
              <label for="floatingInput">Close Date</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="addscholarSaveBtn">Save</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Edit Modal -->
<!-- <div class="modal fade" id="editscholarshipmodal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <lord-icon src="https://cdn.lordicon.com/pdsourfn.json" stroke="bold"
          colors="primary:#9cf4a7,secondary:#109121,tertiary:#ebfad1" class="db-hrmis"></lord-icon>
        <h3 class="modal-title" id="exampleModalLabel">Edit Scholarship</h3>
        <i class='bx bx-x' data-bs-dismiss="modal" aria-label="CLose"></i>
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control border-form-modal" id="editscholarname" name="editscholarname"
                placeholder="First Name">
              <label for="floatingInput">Scholarship Name</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control border-form-modal" id="editstartdate" name="editstartdate"
                placeholder="First Name">
              <label for="floatingInput">Start Date</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control border-form-modal" id="editenddate" name="editenddate"
                placeholder="First Name">
              <label for="floatingInput">Close Date</label>
            </div>
          </div>
          <br>
          <div class="col">
            <div class="form-floating">
              <select class="form-control border-form-modal" id="editscholarstatus" name="editscholarstatus"
                placeholder="First Name">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Closed">Closed</option>
              </select>
              <label for="floatingInput">Status</label>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-modal-save" id="editScholarSaveBtn">Save</button>
      </div>
    </div>
  </div>
</div> -->