<div class="container-fluid">
    <div class="row">
        <!-- Left Column (Custom Box and Cards) -->
        <div class="col-xl-8 col-lg-7">
            <div class="row h-100">
                <!-- Custom Box -->
                <div class="col-12 mb-4">
                    <div class="card border-left-custom shadow h-100 py-2 d-flex flex-column">
                        <div class="card-body">
                            <div class="custom-box flex-grow-1 text-center">
                                <h1 class="h1 mb-0 text-black-800 custom-font">
                                    Welcome <%= fullname %><br>
                                    <span class="h3 mb-0 text-danger" id="dynamic-time"></span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Cards -->
                <div class="col-12">
                    <div class="row h-100">
                        <!-- Pending Applications Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2 d-flex flex-column">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Pending Applications
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 pending-applications-count">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Approved Applications Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card border-left-success shadow h-100 py-2 d-flex flex-column">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Approved Applications
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 approved-students-count">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Applications Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card border-left-info shadow h-100 py-2 d-flex flex-column">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Total Applications
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 verified-students-count">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
        <!-- Right Column (Calendar) -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Google Calendar Embed Iframe -->
                    <iframe 
                        src="https://calendar.google.com/calendar/embed?src=ilsp.test.dev%40gmail.com&ctz=Asia%2FManila&showTitle=0" 
                        style="border: 0; width: 100%; height: 400px; pointer-events: none;" 
                        frameborder="0" 
                        scrolling="no">
                    </iframe>
                </div>          
            </div>
        </div>
    </div>
    
    <br>
    
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-8 mb-8">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">By Barangay Applicants</h6>
                </div>
                <div class="card-body">
                    <canvas id="barChart" width="400" height="200"></canvas>
                    <script src="chart.js"></script>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="col">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">New Applicants</h6>
                    </div>
                    <div class="card-body" id="applicants">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
