<script>
    let accessid = "";
  
    $(document).ready(function () {
      LoadTable();
      searchTable();
  
      $(document).on("keyup", "#myInput", function () {
        searchTable();
      });
  
      function LoadTable() {
        $("#dataTableaccess").DataTable({
          destroy: true,
          processing: true,
          serverSide: true,
          paging: false,
          searching: false,
          info: false,
          scrollY: 600,
          scrollCollapse: true,
          serverMethod: "GET",
          ajax: {
            url: "/access/load",
            dataSrc: (json) => {
              var finalData = [];
              var data = json.data;
  
              $.each(data, (key, item) => {
                var action = "";
                var status = item.status;
  
                action = `
                    <button id="editBtn" class="btn text-primary" name="editBtn" data-bs-toggle="modal" data-bs-target="#editaccessmodal"><i class="fas fa-fw fa-pen"></i></button>
                   `;
  
                finalData.push({
                  accessid: item.accessid,
                  accessname: item.accessname,
                  createby: item.createby,
                  createdate: item.createdate,
                  status: item.status,
                  action: action,
                });
              });
  
              return finalData;
            },
          },
          columnDefs: [
            {
              targets: 1,
              className: "td-indent",
            },
          ],
          columns: [
            { data: "accessid" },
            { data: "accessname" },
            { data: "createby" },
            { data: "createdate" },
            { data: "status" },
            { data: "action" },
          ],
          createdRow: function (row, data, dataIndex) {
            $("td", row).each(function (index) {
              this.style.textAlign = "center";
              this.style.verticalAlign = "middle";
            });
          },
  
          initComplete: function () {},
        });
      }
  
      $(document).on("click", "#accesssavebtn", function () {
        let accessname = $("#accessname").val();
  
        var message = "";
  
        if (accessname == "") {
          message += "TITTLE ";
        }
  
        if (message !== "") {
          swal("Validation Error", message, "error");
        } else {
          $.ajax({
            type: "POST",
            url: "/access/save",
            data: {
              accessname: accessname,
            },
            success: function (result) {
              if (result.msg == "success") {
                swal({
                  title: "Saved Successfully",
                  text: "You clicked the button!",
                  icon: "success",
                  button: "OK!",
                }).then((results) => {
                  window.location.reload();
                });
                LoadTable();
              } else {
                swal({
                  title: "Exist",
                  text: "Data already exists!",
                  icon: "warning",
                  button: "OK!",
                });
              }
            },
            error: function (err) {
              swal("Data already exist!", "You clicked the button!", "warning");
            },
          });
        }
      });
  
      $("#dataTableaccess tbody").on("click", "tr", function () {
        var dataRow = [];
        $(this)
          .closest("tr")
          .find("td")
          .each(function () {
            dataRow.push($(this).text());
          });
        accessid = dataRow[0];
      });
  
      $(document).on("click", "#editBtn", function () {
        $.ajax({
          type: "POST",
          url: "/access/getaccess",
          data: {
            accessid: accessid,
          },
          success: function (result) {
            if (result.msg === "success") {
              const existingData = result.data;
  
              $.each(existingData, (key, item) => {
                $("#editdepartmentid").val(item.accessid);
                $("#editaccessname").val(item.accessname);
                $("#editaccessstatus").val(item.status);
              });
            } else {
              swal("Error fetching employee data", message, "error");
            }
          },
          error: function (err) {
            swal(
              "An error occurred while fetching employee data",
              message,
              "error"
            );
          },
        });
      });
  
      $(document).on("click", "#editaccesssavebtn", function () {
        let id = accessid;
        let accessname = $("#editaccessname").val();
        let status = $("#editaccessstatus").val();
  
        var message = "";
  
        if (accessname === "") {
          message += "departmentname is required. ";
        }
  
        if (status === "") {
          message += "status is required. ";
        }
  
        if (message !== "") {
          swal("Validation Error", message, "error");
        } else {
          $.ajax({
            type: "POST",
            url: "access/update",
            data: {
              accessid: id,
              accessname: accessname,
              status: status,
            },
            success: function (result) {
              if (result.msg == "success") {
                swal({
                  title: "Update Successfully",
                  text: "You clicked the button!",
                  icon: "success",
                  button: "OK!",
                }).then((results) => {
                  window.location.reload();
                });
                LoadTable();
              } else if (result.msg == "exist") {
                swal({
                  title: "Exist",
                  text: "Data already exists!",
                  icon: "warning",
                  button: "OK!",
                });
              } else {
                swal(
                  "Data already exists!",
                  "You clicked the button!",
                  "warning"
                );
              }
            },
            error: function (err) {
              swal("Error", "An error occurred while saving data.", "error");
            },
          });
        }
      });
  
      function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTableaccess");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td");
          for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
              found = true;
            }
          }
          if (found) {
            tr[i].style.display = "";
            found = false;
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });
  </script>
  